{% extends '/Blog/layout.twig' %}
{% block title "Création du compte utilisateur" %}
{% block classBody " pageBase " %}

{% block body %}
<section class="container SectionMain2">
  <h1> Désoler une erreur est survenu !!!</h1>
</section>

{% endblock %}
