{% extends '/Blog/layout.twig' %}
{% block title "Création du compte utilisateur" %}


{% block body %}


<section class="container">
  <h1> Bravo vous avez créer votre compte</h1>
</section>


{% endblock %}
