{% extends '/Blog/layout.twig' %}
{% block title "Création du compte utilisateur" %}


{% block body %}
<section class="container">
  <h1> Désoler une erreur est survenu !!!</h1>
</section>

{% endblock %}
