{% extends '/Blog/layout.twig' %}
{% block title "Mots de passe oublié" %}
{% block classBody "pageValidEpass pageBase " %}


{% block body %}
<section class="container-fluid SectionEntete ">
  <h1> La carte du voyage </h1>

</section>
<section class="container SectionMain">
<form class="" action="{{path( routePrefix ~ '.validpass') }}" method="post" enctype="multipart/form-data">
  {{ csrf_input() }}
  {{ field('password', null, 'Mot de passe', {type:'password'}) }}
  {{ field('verifpassword', null, 'Retaper le Mot de passe', {type:'password'}) }}

<button class="btn btn-primary" type="submit"> Changer son mot de passe </button>
</form>

</section>

{% endblock %}
