{% extends '/Blog/layout.twig' %}
{% block title "Création du compte utilisateur" %}
{% block classBody " pageBase " %}

{% block body %}


<section class="container SectionMain2">
  <h1> Bravo vous avez créer votre compte</h1>
</section>


{% endblock %}
