{% extends '/Admin/layout.twig' %}
{% block title "Voire les signalements" %}
{% block classBody "pageBase " %}


{% block body %}

<section class="container-fluid SectionEntete ">
<h1> Voir les signalements {{ item.title }}</h1>
</section>
<section class="container-fluid SectionMain ">

{{ csrf_input() }}
  {% include viewPath ~ '/form.twig'%}
  <form style ="display:inline" action="{{path( routePrefix ~ '.delete', {id: item.id}) }}" method="POST" onsubmit="return confirm('êtes vous sûr ?')">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger"> Supprimer</button>

  </form>
</section>

{% endblock %}
