{% extends '/Admin/layout.twig' %}
{% block title "Editer l'article" %}


{% block body %}

<h1> Voire les signalements {{ item.title }}</h1>
{{ csrf_input() }}
  {% include viewPath ~ '/form.twig'%}
  <form style ="display:inline" action="{{path( routePrefix ~ '.delete', {id: item.id}) }}" method="POST" onsubmit="return confirm('êtes vous sûr ?')">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger"> Supprimer</button>

  </form>

{% endblock %}
