{% extends '/Blog/layout.twig' %}
{% block title " la carte du voyage" %}
{% block classBody "pageCategory pageBase " %}


{% block body %}
<section class="container-fluid SectionEntete CategorySection1">
  <h1> La carte du voyage </h1>

</section>

<section class="container-fluid CategorySection2">
  <div id="map">

  </div>
</section>

{% endblock %}
