{% extends '/Blog/layout.twig' %}
{% block title "billet pour alaska : blog" %}


{% block body %}
<section class="container">
  <h1> La carte du voyage </h1>


</section>
<section class="container-fluid">
  <div id="map">

  </div>
</section>

{% endblock %}
