body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container .alert-light {
  padding: 0;
}


.container .alert-light .comment{
  padding: 0.75rem 1.25rem;
}

.commentraw{
  padding-top: 0.75rem;
}

.toggedisplay{
  display : none;
}

.mce-notification-warning {
  display : none;
}


#map {
      height: 800px;
      width: 100%;
     }
#mapPost {
     height: 400px;
     width: 100%;
    }
#mapAdmin {
      height: 400px;
      width: 100%;
     }

main .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
