{% extends '/Admin/layout.twig' %}
{% block title "Dashboard" %}
{% block classBody "pageBase " %}

{% block body %}
<section class="container-fluid SectionEntete ">
<h1>Dashboard</h1>
</section>

<section class="container SectionMain ">
  <div class="row DashRow">
    {{ widgets | raw }}
    {{ widgetsUser | raw }}
    {{ widgetsULC | raw }}
  </div>

</section >

{% endblock %}
