{% extends '/Admin/layout.twig' %}
{% block title "Dashboard" %}
{% block classBody "pageBase " %}

{% block body %}
<section class="container-fluid SectionEntete ">
<h1>Dashboard</h1>
</section>

<section class="container SectionMain ">
{{ widgets | raw }}
</section >
{% endblock %}
