{% extends '/Admin/layout.twig' %}
{% block title "Editer l'catégorie" %}
{% block classBody "pageBase " %}

{% block body %}
<section class="container-fluid SectionEntete ">
<h1> Ajouter une catégorie</h1>
</section>
<section class="container SectionMain ">

<form class="" action="{{path( routePrefix ~ '.create') }}" method="post">
  {% include viewPath ~ '/form.twig'%}
  <button class="btn btn-primary" type="submit"> Ajouter</button>
</form>
</section>
{% endblock %}
