{% extends '/Blog/layout.twig' %}
{% block title "billet pour alaska : blog" %}


{% block body %}
<section class="container">
  <h1> Un Billet simple pour l'Alaska </h1>

  <img src="{{ imageType(image1.url,'Miniature') }}" alt="{{ image1.alt }}" >
</section>



{% endblock %}
