{%extends 'layout.twig'%}
{% block title "billet pour alaska : blog" %}
{%block body%}
<h1> Bienvenue sur le blog </h1>

<ul>
  <li><a href="{{path('blog.show', {slug: 'zezezrezer-zr63'}) }}">article 1</a></li>
  <li>article 1</li>
  <li>article 1</li>
  <li>article 1</li>
  <li>article 1</li>
  <li>article 1</li>

</ul>

{%endblock%}
